# Trabalho de Estrutura de Dados - Análise de dados utilizando Pandas

## Índices de Concluintes na Faculdade de Acordo com Sexo ao passar dos Anos
---

Com base nos doscumentos criados pelo INEP, será feita uma análise dos concluintes e comparados os números de quantos homens e mulheres se formaram na faculdade, e como esse número se alterou com o passar dos anos.

In [55]:
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
low_memory=False
%matplotlib inline
DADOS = pd.read_csv('dados_inep.csv', delimiter=';',header=0,encoding='utf-8')

---
### Data Base - INEP

A data base deste trabalho foi obtida diretamente do site do INEP(Instuto Nacional de Estudos e Pesquisas Educacionais Anísio  Teixera) - http://inep.gov.br/inep-data), dentro do site, na parte inferior, foi utilizado a opção de educação superior, onde foi aberto o repositório do oracle que me deu a opção de exportar um csv com as informações necessárias para análise, relacionamos os seguintes tópicos:

#### Data de Conclusão de Curso de Acordo com o Ano e Com o Sexo do Aluno

Era desejado encontrar o número de alunos que concluiram o curso superior durante os anos de 2009 até 2017, de acordo com o seu sexo. Haverá um gráfico relacionado ano e número de alunos concluintes, e outro relacionado número de concluintes com sexo. Sendo assim possível ver quantos homens e mulheres se formaram no ensino superior, e como esse número foi se alterando com o passar dos anos.

In [92]:
# Aqui demonstramos os dados lidos pela biblioteca Pandas, substituimos as células em branco(NaN) por 0.
DADOS = DADOS.fillna('0')
# Realizamos uma ordenação de acordo com a coluna "9999" que representa o último indice mensurado, do maior para o menor.
DADOS.sort_values(by=['num_alunos'],ascending=False).head(6)

# Códio para criar gráfico -> Possível Erro: Não estar conseguindo reconhecer os dados como num
#ANO = DADOS.groupby('ano_censo')
#aluno=DADOS.groupby('num_alunos')
#print(ano)
#print(aluno)
#plt.plot([ano,aluno])

,ano_censo,cagt_adm,sub_cat_adm,id_cat_adm,num_alunos,grau_academ,nome_mod_ensino
43,2015,PRIVADA,PRIVADA,4,3913832,BACHARELADO,PRESENCIAL
12,2017,PRIVADA,PRIVADA,4,3906852,BACHARELADO,PRESENCIAL
27,2016,PRIVADA,PRIVADA,4,3889503,BACHARELADO,PRESENCIAL
59,2014,PRIVADA,PRIVADA,4,3733135,BACHARELADO,PRESENCIAL
74,2013,PRIVADA,PRIVADA,4,3427528,BACHARELADO,PRESENCIAL
89,2012,PRIVADA,PRIVADA,4,3267887,BACHARELADO,PRESENCIAL

In [86]:
# Com base nas informações acima, demonstramos de maneira gráfica por barras horizontais. Para isso removemos os dados de 2000 até 2015, deixando apenas os valores de 2016, 2017 e 9999 que representa o último valor mensurado. 
DADOS1 = DADOS.drop(['ano_censo','2017','2016','2015','2014','2013','2012','2011','2010','2009'], axis=1)
p = DADOS1.loc[[126,163,8,81,64,23]].sort_values(by=["9999"],ascending=False).head(6).plot(kind="barh", grid=(True),xticks=(0.1,0.2,0.3,0.4,0.5, 0.6, 0.7, 0.8, 0.9,0.95,1.05), figsize=(20,10), fontsize=(16), x=('num_alunos'))
p.set_title("Indice de Alunos Concluintes de Acordo com os Anos", fontsize=(20));
p.set_xlabel("ANOS", fontsize=(16));
p.set_ylabel("NÚMEROS DE ALUNOS", fontsize=(16));

KeyError: "['2017' '2016' '2015' '2014' '2013' '2012' '2011' '2010' '2009'] not found in axis"